<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <title>Página Web | Demo</title>
    </head>

    <body>