{{> header }}

    
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Spiderman</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum unde accusantium corrupti ad, animi consequatur, magnam aspernatur vitae ipsum voluptatibus reprehenderit, repellendus tempora fugiat quo mollitia eaque atque autem debitis.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/spiderman.jpeg" class="img-thumbnail"> 
        </div>
            
    </div>

{{> footer }}